---
// components/NowPlaying.astro
import placeholderImage from "../../../assets/background.svg";
---
<div id="current-song-display">
  <picture>
    <source id="dynamic-image-source" type="image/webp" srcset={placeholderImage.src}/>
    <img
      id="song-image"
      width={50}
      height={50}
      loading="eager"
      decoding="async"
      alt="Portada de canción"
      class="song-image"
    />
  </picture>
  <div class="song-info">
    <h3 id="song-title"></h3>
    <p id="song-artist"></p>
  </div>
</div>

<script>
  import { playerStore } from "../../../store/playerStore.mjs";
  import placeholderImage from "../../../assets/background.svg";
 
  const songImage = document.getElementById('song-image') as HTMLImageElement;
  const imageSource = document.getElementById('dynamic-image-source') as HTMLImageElement;
  const songTitle = document.getElementById('song-title');
  const songArtist = document.getElementById('song-artist');

  const ImageUpdate = () => {
  const { currentSongData, currentSongId } = playerStore.getState();
  // Si no hay datos de canción o no hay ID de canción, establecer valores por defecto
  if (!currentSongData || !currentSongId) {
    // Establecer imagen por defecto (puedes usar una imagen placeholder o cadena vacía)
    imageSource.srcset = placeholderImage.src; 
    songImage.alt = 'Selecciona una canción';
  
    return; // Salir de la función temprano
  }

  if (currentSongData.image.src !==  imageSource.srcset) {
    const newImageUrl = currentSongData?.image?.src || '';
  imageSource.srcset = newImageUrl;
  songImage.alt = `Portada de ${currentSongData?.name || 'Canción'}`;

  if (currentSongData) {
    songTitle.textContent = currentSongData.name || '';
    songArtist.textContent = currentSongData.artist || '';
  }
  }
};
  playerStore.subscribe(ImageUpdate)
</script>


<style>
  
  #current-song-display {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  #song-image {
    border-radius: 4px;
    width: 55px;
    height: auto;
  }
  
  .song-info {
    display: flex;
    flex-direction: column;
  }
  
  #song-title {
    margin: 0;
    font-size: 1rem;
    font-weight: 500;
    text-wrap: nowrap;
    overflow: hidden;
  }
  
  #song-artist {
    margin: 0;
    font-size: 0.875rem;
    color: #888;
    overflow: hidden;
    text-wrap: nowrap
  }
  
  
</style>