---
---

<span class="place-items-center flex  bg-neutral-600 rounded-full p-1 hover:bg-neutral-500 transition-all duration-200 ease-in-out cursor-pointer">
  <img src="https://i.pinimg.com/736x/fa/d5/e7/fad5e79954583ad50ccb3f16ee64f66d.jpg" alt="" class="h-6 w-6 rounded-full place-items-center" />
  <ul class="hidden">
    <li class="User-list-nav"><a href="">Cuenta</a></li>
    <li class="User-list-nav"><a href="">Perfil</a></li>
    <li class="User-list-nav"><a href="">Cambiate a Premiun</a></li>
    <li class="User-list-nav"><a href="">Ayuda</a></li>
    <li class="User-list-nav"><a href="">Preferencias</a></li>
  </ul>
<span/>